.container-fluid{
    min-height: 100%;
    padding: 3rem;
}

.closed { display: none; }

/*
  ===============================
   map
  ===============================
 */

#map {
    height: 50rem;
    margin-top: 1em;
}

/*
  ===============================
   building list
  ===============================
 */

#building-list { margin-top: 1em; }

#blist-wrapper {
    background: #506977;
    margin-bottom: 1em;
}

#title{
    display: inline-block;
    padding: 0.5em;
    color: #fff;
}

#blist-dropdown{
    color: #fff;
    position: absolute;
    right: 1.5em;
    top: 0.6em;
}

.fa-map-marker{color: #F26C63;}

.fa-caret-right{
    color: #f26c63;
}

#list-prompt-wrapper { margin-bottom: 1em; }

#list-prompt{
    display: inline;
    font-size: 1.3rem;
}

#blist{
    overflow-y: auto;
    background: #f4f4f4;
    max-height: 20em;
    color: #2a3740;
}

li.building{
    padding: 1em;
    border: solid 0.1em #F26C63;
    margin-bottom: 1em;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    #building-list{ float: right; }

    #blist {  min-height: 38rem; }
}