<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Pinecone</title>

    <!-- stylesheets -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
          rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
          crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/styles/default.css">
    <link rel="stylesheet" href="/assets/styles/listrooms.css">
</head>

<body>

    <%- include('../partials/header') %>

    <main id="main">
    <section id="profilepage">
        <h5> Rooms </h5>
        <h5 id="is_admin"></h5>

    <div class="content-box">
        <div class="title"><%- title %></div>
        <div class="content">
            <% for(var i=0; i < data.length; i++) { %>
            <ul class="room">
            <li class="roomname"><%- data[i].room_number %></li>
                <%if (title != 'Search Results') { %>
                <li class="roomtime">Status: Available for booking </li>
                <% } %>
            <li class="roomdistance">Building: <%- data[i].building %></li>
            <br>
            <button id="view-btn" class="select view-btn" value="<%= data[i].room_number %>">View Room</button>
                <%if (title == 'All Rooms') { %>
                    <% var all_criteria = JSON.stringify(criteria) %>
                    <input type="hidden" name="criteria" value="<%= all_criteria %>">
                <% } %>
            </ul>
            <% } %>
        </div>
    </div>

    </section>
    </main>

    <!-- scripts -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <script src="/assets/scripts/main.js"></script>
    <script src="/assets/scripts/room.js"></script>

</body>
</html>
