<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Map</title>

    <!-- stylesheets -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
          rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
          crossorigin="anonymous">
    <link rel="stylesheet" href="../../assets/styles/default.css">
    <link rel="stylesheet" href="../../assets/styles/map.css">
</head>

<body>

    <%- include('../partials/header') %>

    <!-- start of main content of page -->
    <main class="container-fluid" id="main">
    <h5 id="is_admin"></h5>
        <!-- list of buildings -->
        <section id="building-list" class="col-xs-12 col-sm-6 col-md-4">
            <!-- building title -->
            <div id="blist-wrapper">
                <h2 id="title">Building List</h2>
                <span class="fa fa-caret-down fa-2x" aria-hidden="true" id="blist-dropdown"></span>
            </div>
            <!-- usability prompt -->
            <div id="list-prompt-wrapper" class="hidden">
                <span class="fa fa-caret-right" aria-hidden="true"></span>
                <p id="list-prompt">click on a building below to display it on the map</p>
            </div>
            <!-- list of buildings -->
            <ul class="list-unstyled closed" id="blist"></ul>
        </section>

        <!-- the container for the map -->
        <section id="map" class="col-xs-12 col-sm-6 col-md-8">
            <h5>Map</h5>
        </section>

    </main>

    <!-- scripts -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <script src="/assets/scripts/main.js"></script>
    <script src="/assets/scripts/map.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCfcP_32yGJIUJXi5PUA0G1flf5kNoBezE">
    </script>
</body>
</html>
