<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>User Profile</title>

    <!-- stylesheets -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
          rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
          crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/styles/default.css">
    <link rel="stylesheet" href="/assets/styles/user_profile.css">
</head>

<body>

    <%- include('../partials/header') %>

    <main class="container-fluid" id="main">

        <!-- user information -->
        <section id="profile" class="col-xs-12 col-sm-4 col-md-4">
            <h2 class="title">User Profile</h2>
            <h5 id="is_admin"><%- admin %></h5>
            <!-- user personal information -->
            <section id="info">
              <h5> Info </h5>
                <img id="photo" src="/assets/images/defaultuser.png" alt="profile">
                <article class="information">
                    <br>
                    <h3> <%- name %> </h3>
                    <br>
                    <p id="user_email"><%- email %></p>
                </article>
            </section>

            
        </section>


  
        <div id="bookings box">
            <section id="events">
               
                <h2 class="title">Booked Rooms</h2>
                  <ul class="list-unstyled closed" id="blist"></ul>

                  
            </section>
           </div>

        
        <!-- users calendar -->
        <!-- the user can link their account with their google calendar -->
        <!-- <section id="calendar" class="col-xs-12 col-sm-8 col-md-8">
            <h5> calendar </h5>
            <iframe src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23ffffff&amp;src=pineconecsc309%40gmail.com&amp;color=%23A32929&amp;ctz=America%2FToronto" style="border-width:0" width="800" height="600"></iframe>
        </section> -->
    </main>

     <!-- scripts -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <script src="/assets/scripts/main.js"></script>
    <script src="/assets/scripts/home.js"></script>
    <script src="/assets/scripts/profile.js"></script>

</body>
</html>
